[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
vcrpy = "*"

[packages]
six = "*"
dropbox = "*"
boxsdk = "*"
LAMP-core = ">2021.3.1"
mano = ">=0.4"
yaxil = "*"
pyyaml = "*"
paramiko = "*"
pytz = "*"
requests = {extras = ["security"]}
lochness = {path = ".", editable = true}
